<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>backupConfigDataUpdate</title>
    <script src="../../../js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <div>
            <span>备份和命令</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick=executeShell()>执行</button>
            <button onclick=buildShell()>构建</button><br />
            <span>编号</span><input id="id" name="id" th:value="${backupConfigDataVo.id}" /> <br />
            <span>系统编号</span><input id="backupConfigId" name="backupConfigId" th:value="${backupConfigDataVo.backupConfigId}" /> <br />
            <span>脚本名</span><input id="filename" name="filename" th:value="${backupConfigDataVo.filename}" /> <br />
            <span>备份名</span><input id="backupFilename" name="backupFilename" th:value="${backupConfigDataVo.backupFilename}" /> <br />
            <span>Cron表达式</span><input id="cronExpr" name="cronExpr" th:value="${backupConfigDataVo.cronExpr}" /> <br />
            <span>命令</span> <br/>
            <textarea id = "shellCommands" name="shellCommands" th:text="${backupConfigDataVo.shellCommands}"></textarea>
            <div>
                <span>备份路径</span> <button name="addDir">+</button><button name="delDir">-</button><br/>
                <div th:each="backupPath : ${backupConfigDataVo.backupPaths}">
                    <input name="backupPath" th:value="${backupPath}" />
                </div>
            </div>
            <div>
                <span>备份路径</span> <button name="addTargetDir">+</button><button name="delTargetDir">-</button><br/>
                <div th:each="targetPath : ${backupConfigDataVo.targetPaths}">
                    <input name="targetPath" th:value="${targetPath}" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <button onclick=javascrtpt:jump('../../../index')>主页</button>
        <button onclick=updateBackupConfigData()>更新</button>
        <button onclick=queryBackupConfigData()>返回</button>
    </div>
</body>
<script type="text/javascript">
    function queryBackupConfigData() {
        window.location.href = "/backup/data/" + $("#backupConfigId").val();
    }
    function jump(pageName){
        window.location.href = pageName + ".html";
    }

    function executeShell() {
        $.ajax({
            type : 'POST',
            url : '/backup/execute/' + $("#id").val(),
            async : false,
            success : function (result) {
                /*var res = JSON.parse(result);*/
                alert(result)
            },
            error : function (result) {
                alert(result)
            }
        })
    }

    function buildShell() {
        $.ajax({
            type : 'PUT',
            url : '/backup/build/' + $("#id").val(),
            async : false,
            success : function (result) {
                /*var res = JSON.parse(result);*/
                alert(result)
            }
        })
    }

    function updateBackupConfigData() {

        var backupPathObj = $('[name="backupPath"]');
        var backupPathLength = backupPathObj.length;
        var backupPaths = [];
        for (var i = 0; i < backupPathLength; i++) {
            backupPaths[i] = backupPathObj.eq(i).val();
        }

        var targetPathObj = $('[name="targetPath"]');
        var targetPathLength = targetPathObj.length;
        var targetPaths = [];
        for (var i = 0; i < targetPathLength; i++) {
            targetPaths[i] = targetPathObj.eq(i).val();
        }

        var data = {
            "backupConfigId" : $("#backupConfigId").val(),
            "filename" : $("#filename").val(),
            "backupFilename" : $("#backupFilename").val(),
            "cronExpr" : $("#cronExpr").val(),
            "shellCommands" : $("#shellCommands").val(),
            "backupPaths" : backupPaths,
            "targetPaths" : targetPaths
        };
        /*alert(JSON.stringify(data))*/

        $.ajax({
            type : 'PUT',
            url : '/backup/data/' + $("#id").val(),
            dataType : "json",
            contentType : 'application/json',
            async : false,
            data : JSON.stringify(data),
            success : function (result) {
                /*var res = JSON.parse(result);*/
                if (result.result === "success") {
                    window.location.href = "/backup/data/" + result.data;
                }
            }
        })
    }

    $('[name="addDir"]').bind("click", function () {
        $('[name="addDir"]').parent().append("<div><input name='backupPath' /></div>");
        return false;
    });
    $('[name="delDir"]').bind("click", function () {
        var dirPathLength = $('[name="backupPath"]').length;
        if (dirPathLength > 1) {
            $('[name="delDir"]').parent().children("div:last").remove();
        }
        return false;
    });

    $('[name="addTargetDir"]').bind("click", function () {
        $('[name="addTargetDir"]').parent().append("<div><input name='targetPath' /></div>");
        return false;
    });
    $('[name="delTargetDir"]').bind("click", function () {
        var dirPathLength = $('[name="targetPath"]').length;
        if (dirPathLength > 1) {
            $('[name="delTargetDir"]').parent().children("div:last").remove();
        }
        return false;
    });
</script>
</html>