<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>backup</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <button onclick=javascrtpt:jump('../addBackupConfig')>新增</button>
    </div>
    <div th:if="not ${#lists.isEmpty(backupConfigs)}">
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td>系统</td>
                <td>地址</td>
                <td>用户名</td>
                <td>密码</td>
                <td>连接方式</td>
                <td>编号</td>
                <td>
                    操作
                </td>
            </tr>
            <tr th:each="backupConfig : ${backupConfigs}">
                <td th:text="${backupConfig.sysType}"></td>
                <td th:text="${backupConfig.address}"></td>
                <td th:text="${backupConfig.username}"></td>
                <td th:text="${backupConfig.password}"></td>
                <td th:text="${backupConfig.connectType}"></td>
                <td id="id" th:text="${backupConfig.id}"></td>
                <td>
                    <button th:onclick = "javascript:modifyBackupConfigById([[${backupConfig.id}]])">修改</button>
                    <button th:onclick = "javascript:queryBackupConfigDataById([[${backupConfig.id}]])">配置</button>
                    <button th:onclick = "javascript:deleteBackupConfigById([[${backupConfig.id}]])">删除</button>
                </td>
                <!--<span th:text="${backupConfigStat.index}"></span>-->
                <!--<td>
                    &lt;!&ndash;${backupConfigStat.index} 序号递增&ndash;&gt;
                    <button th:onclick = " 'javascript:queryBackupConfigById('+ ${backupConfig.id} +');' ">修改</button>
                </td>-->

            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(backupConfigs)}">
        <h4>没有数据</h4>
    </div>
    <div>
        <button onclick=javascrtpt:jump('../index')>主页</button>
        <button onclick=javascrtpt:jump('../index')>返回</button>
    </div>
</body>
<script type="text/javascript">
    function modifyBackupConfigById(id){
        /*alert($("#id").text())*/
        window.location.href = "/backup/config/" + id;
    }

    function queryBackupConfigDataById(id) {
        window.location.href = "/backup/data/" + id;
    }

    function deleteBackupConfigById(id) {
        $.ajax({
            type : 'DELETE',
            url : '/backup/config/' + id,
            success : function (result) {
                if (result === "success") {
                    window.location.href = "/backup/config";
                }
            }
        })
    }
    function jump(pageName){
        window.location.href = pageName + ".html";
    }
</script>
</html>