<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leateck.gmp.backup.mapper.BackupConfigMapper">

    <resultMap id="backupResultMap" type="com.leateck.gmp.backup.entity.BackupConfig">
        <id column="code" jdbcType="CHAR" property="code" />
        <result column="row_id" jdbcType="CHAR" property="rowId" />
        <result column="create_date" jdbcType="VARCHAR" property="createDate" />
        <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
        <result column="describe" jdbcType="VARCHAR" property="describe" />
        <result column="cron_expr" jdbcType="CHAR" property="cronExpr" />
        <!--<result column="shell_commands" jdbcType="VARCHAR" property="shellCommands" />
        <result column="backup_paths" jdbcType="VARCHAR" property="backupPaths" />-->
    </resultMap>

    <select id="queryAll" resultMap="backupResultMap">
        select * from backup_config
    </select>

    <select id="queryByCode" parameterType="string" resultMap="backupResultMap">
        select * from backup_config where code = #{code}
    </select>

    <insert id="insertBackupConfig" parameterType="com.leateck.gmp.backup.entity.BackupConfig">
        insert into backup_config(code, row_id, create_date, `describe`, cron_expr)
            values(
                #{backConfig.code},
                #{backConfig.rowId},
                #{backConfig.createDate},
                #{backConfig.describe},
                #{backConfig.cronExpr}
            )
    </insert>

    <update id="modifyBackupConfigByCode" parameterType="com.leateck.gmp.backup.entity.BackupConfig">
        update backup_config
        <trim prefix="set" suffixOverrides=",">
            <if test="backConfig.describe!=null">`describe` = #{backConfig.describe},</if>
            <if test="backConfig.cronExpr!=null">cron_expr = #{backConfig.cronExpr},</if>
            <if test="backConfig.updateDate!=null">update_date = #{backConfig.updateDate},</if>
        </trim>
        where code = #{backConfig.code}
    </update>

    <delete id="deleteByCode" parameterType="string">
        delete from backup_config where code = #{code}
    </delete>

</mapper>
